extends layout

include components

block content
    +warning()
    main(class='bg-white w-[700px] max-w-full mx-auto my-5 p-5 rounded shadow-[1px_1px_3px_rgba(232,232,232,1)]')
        if nickname
            +btn('a', '登出', '/logout')
        else
            +btn('a', '註冊', '/register')
            span  
            +btn('a', '登入', '/login')
        +h3("你好！", nickname)
        +h1("Comments")
        if nickname
            form(class='' method='POST' action='/comment')
                div(class='text-red-700')= errMsg
                div(class='text-green-700')= sucMsg
                textarea(class='w-full p-2.5 border border-solid border-sky-200' name='content' rows='5')
                +btn('input')
        else
            +h3("請登入以發表留言")
        +hr()
        section 
            - for(var i = 0; i < results.length; i++)
                - var d = results[i]['created_at'];
                - var formatedTime = d.getFullYear() + "-" + ("0"+(d.getMonth()+1)).slice(-2) + "-" + ("0" + d.getDate()).slice(-2)  + " " + ("0" + d.getHours()).slice(-2) + ":" + ("0" + d.getMinutes()).slice(-2);
                if nickname == results[i]['nickname']
                    +cm( results[i]['id'], results[i]['nickname'], formatedTime, results[i]['content'], true )
                else
                    +cm( results[i]['id'], results[i]['nickname'], formatedTime, results[i]['content'] )