doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
    body(class='bg-[#f7f7f7]')
        block content
        script(type='text/javascript' src='/javascripts/client.js')
